<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2>Search for your favourite character in the Star Wars Universe!</h2>
  </div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"><input #searchBox id="search-box" (keyup)="search(searchBox.value)" /></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
 <div class="col-sm-4">
 <ul class="peoples">
      <li *ngFor="let people of peoples | async"
        [class.selected]="people === selectedPeople"(click)="onSelect(people)">
        {{people.name}}
        
      </li>
       
    </ul>
 </div>
<div class="col-sm-4">
  <app-people-detail [peopleDetail]='peopleDetail'></app-people-detail>  
</div>
</div>

    
    

